In [1]:
import pandas as pd

In [30]:
df = pd.read_csv('./member_RFM.csv')
df.head()
df[df['구매횟수'] > 1]

                  고객번호       최근구매일   날짜  구매횟수   총결제금액
2      201812310749820  2021-08-20  353     5  219351
3      201812310750007  2021-02-19  535     2   59171
6      201901010750075  2021-01-06  579     2   36006
10     201812310749946  2021-02-27  527     2    9523
13     201901010750264  2021-07-29  375     2   15295
...                ...         ...  ...   ...     ...
97180  201907180941780  2022-07-30    9     2   69966
97186  201910161009034  2022-08-04    4     2   55126
97208  201904020858881  2022-07-30    9     2   59807
97481  201912161045771  2022-08-05    3     2   39080
97527  201907090935473  2022-08-03    5     2   11682

[34231 rows x 5 columns]

In [9]:
df_s = pd.read_csv('./Sales_data_RMF.csv')
df_s.head()

/tmp/ipykernel_29968/3262064402.py:1: DtypeWarning: Columns (0,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_s = pd.read_csv('./Sales_data_RMF.csv')

,주문번호,배송완료일,배송시작일,구매일,구매시월령,고객번호,구매금액,결제금액,물품대분류,상품명,포인트,배송준비시간,배송시간,물품중분류,물품소분류
0,901011864201303,2021-01-05,2021-01-01,2020-12-31,35,201901010750089,74560,43825,팬티,하기스 매직핏팬티 5단계 남아 124매(팬티형),30735,1 days,4 days,기저귀,팬티형
1,901011864430366,2021-01-03,2021-01-01,2020-12-31,9,201901010750143,74560,43825,팬티,하기스 매직핏팬티 3단계 남아 184매(팬티형),30735,1 days,2 days,기저귀,팬티형
2,81231186197954,2021-01-05,2021-01-01,2020-12-31,22,201812310749820,53920,36769,팬티,하기스 네이처메이드 팬티 5단계 여아 80매(팬티형),17151,1 days,4 days,기저귀,팬티형
3,812311863500220,2021-01-03,2021-01-01,2020-12-31,8,201812310750007,52160,32408,팬티,하기스 보송보송팬티 4단계 공용 124매(팬티형),19752,1 days,2 days,기저귀,팬티형
4,812311863220192,2021-01-03,2021-01-01,2020-12-31,23,201812310749977,47360,30066,팬티,하기스 에어솔솔 팬티 5단계 남아용 80매(팬티형),17294,1 days,2 days,기저귀,팬티형

In [14]:
df_one = df[df['구매횟수'] == 1]
df_one

                  고객번호       최근구매일   날짜  구매횟수  총결제금액
0      201901010750089  2020-12-31  585     1  43825
1      201901010750143  2020-12-31  585     1  43825
4      201812310749977  2020-12-31  585     1  30066
5      201812310749957  2020-12-31  585     1  19900
7      201901010750145  2020-12-31  585     1  19900
...                ...         ...  ...   ...    ...
97719  201911181032894  2022-08-07    1     1  30520
97720  201912171047083  2022-08-07    1     1  18400
97721  201901280778029  2022-08-07    1     1  15540
97722  201910221016307  2022-08-07    1     1  10650
97723  201901280776735  2022-08-07    1     1  11080

[63493 rows x 5 columns]

In [24]:
df_one1 = pd.merge(df_one, df_s, on='고객번호', how='left')
df_one1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72682 entries, 0 to 72681
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객번호    72682 non-null  object
 1   최근구매일   72682 non-null  object
 2   날짜      72682 non-null  int64
 3   구매횟수    72682 non-null  int64
 4   총결제금액   72682 non-null  int64
 5   주문번호    31485 non-null  object
 6   배송완료일   31485 non-null  object
 7   배송시작일   31485 non-null  object
 8   구매일     31485 non-null  object
 9   구매시월령   31485 non-null  float64
 10  구매금액    31485 non-null  float64
 11  결제금액    31485 non-null  float64
 12  물품대분류   31485 non-null  object
 13  상품명     31485 non-null  object
 14  포인트     31485 non-null  float64
 15  배송준비시간  31485 non-null  object
 16  배송시간    31485 non-null  object
 17  물품중분류   31485 non-null  object
 18  물품소분류   31485 non-null  object
dtypes: float64(4), int64(3), object(12)
memory usage: 11.1+ MB

In [27]:
df_one1 = df_one1.dropna()

df_one1[df_one1['물품대분류'] =='더블하트']

,고객번호,최근구매일,날짜,구매횟수,총결제금액,주문번호,배송완료일,배송시작일,구매일,구매시월령,구매금액,결제금액,물품대분류,상품명,포인트,배송준비시간,배송시간,물품중분류,물품소분류
54,201901020750769,2021-01-01,584,1,7642,0020533718551082,2022-02-09,2022-02-05,2022-02-04,11.0,12500.0,9405.0,더블하트,더블하트 유치브러쉬 세트,3095.0,1 days,4 days,생활용품,욕실용품
431,201901150759963,2021-01-14,571,1,26990,0020433712189455,2022-02-07,2022-02-05,2022-02-04,11.0,12900.0,9702.0,더블하트,더블하트 SofTouch 모유실감 젖꼭지 LL (2입),3198.0,1 days,2 days,수유용품,수유용품
433,201901050753340,2021-01-14,571,1,59650,0033035977303377,2022-04-03,2022-03-31,2022-03-30,0.0,25800.0,20640.0,더블하트,더블하트 SofTouch 모유실감 젖꼭지 S (2입) x 2,5160.0,1 days,3 days,수유용품,수유용품
434,201901050753340,2021-01-14,571,1,59650,00522075059-312743213378,2022-05-25,2022-05-23,2022-05-22,2.0,5900.0,3500.0,더블하트,더블하트 SofTouch 모유실감 젖병 핸들(옐로우) (EA),2400.0,1 days,2 days,수유용품,수유용품
779,201901100756789,2021-01-20,565,1,19600,00502105416-703182936557,2022-05-05,2022-05-03,2022-05-02,8.0,94800.0,91510.0,더블하트,더블하트 SofTouch 모유실감 노꼭지 트리플팩 240ml(퍼플) (EA),3290.0,1 days,2 days,수유용품,수유용품
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72646,201910201012661,2022-08-06,2,1,20420,00806113133-17996655177532,2022-08-11,2022-08-07,2022-08-06,3.0,20640.0,20420.0,더블하트,더블하트 SofTouch 모유실감 젖꼭지 M (2입) (EA),220.0,1 days,4 days,수유용품,수유용품
72647,201910201012717,2022-08-06,2,1,23780,00806025146-38280071177561,2022-08-11,2022-08-07,2022-08-06,55.0,13600.0,12780.0,더블하트,더블하트 대용량 스트로 펭귄컵(블루) (EA),820.0,1 days,4 days,주방용품,주방용품
72649,201908220967082,2022-08-06,2,1,3697,00806020746-90187088154494,2022-08-09,2022-08-07,2022-08-06,9.0,5010.0,3697.0,더블하트,더블하트 SofTouch 모유실감 젖병 핸들(옐로우) (EA),1313.0,1 days,2 days,수유용품,수유용품
72650,201904080863866,2022-08-06,2,1,17967,00805163104-3945361489385,2022-08-09,2022-08-07,2022-08-06,15.0,17967.0,17967.0,더블하트,더블하트 젖병세정제 거품형 700ml(용기) + 650ml(리필),0.0,1 days,2 days,수유용품,수유용품
72673,201903170842279,2022-08-07,1,1,9690,00806164723-2565401276010,2022-08-12,2022-08-08,2022-08-07,1.0,10320.0,9690.0,더블하트,더블하트 SofTouch 모유실감 젖꼭지 M (2입) (EA),630.0,1 days,4 days,수유용품,수유용품

In [28]:
df_one1.isnull().sum()

고객번호      0
최근구매일     0
날짜        0
구매횟수      0
총결제금액     0
주문번호      0
배송완료일     0
배송시작일     0
구매일       0
구매시월령     0
구매금액      0
결제금액      0
물품대분류     0
상품명       0
포인트       0
배송준비시간    0
배송시간      0
물품중분류     0
물품소분류     0
dtype: int64

In [29]:
df_one1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31485 entries, 53 to 72681
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객번호    31485 non-null  object
 1   최근구매일   31485 non-null  object
 2   날짜      31485 non-null  int64
 3   구매횟수    31485 non-null  int64
 4   총결제금액   31485 non-null  int64
 5   주문번호    31485 non-null  object
 6   배송완료일   31485 non-null  object
 7   배송시작일   31485 non-null  object
 8   구매일     31485 non-null  object
 9   구매시월령   31485 non-null  float64
 10  구매금액    31485 non-null  float64
 11  결제금액    31485 non-null  float64
 12  물품대분류   31485 non-null  object
 13  상품명     31485 non-null  object
 14  포인트     31485 non-null  float64
 15  배송준비시간  31485 non-null  object
 16  배송시간    31485 non-null  object
 17  물품중분류   31485 non-null  object
 18  물품소분류   31485 non-null  object
dtypes: float64(4), int64(3), object(12)
memory usage: 4.8+ MB

In [36]:
df_two = df[df['구매횟수'] > 1]
df_two

                  고객번호       최근구매일   날짜  구매횟수   총결제금액
2      201812310749820  2021-08-20  353     5  219351
3      201812310750007  2021-02-19  535     2   59171
6      201901010750075  2021-01-06  579     2   36006
10     201812310749946  2021-02-27  527     2    9523
13     201901010750264  2021-07-29  375     2   15295
...                ...         ...  ...   ...     ...
97180  201907180941780  2022-07-30    9     2   69966
97186  201910161009034  2022-08-04    4     2   55126
97208  201904020858881  2022-07-30    9     2   59807
97481  201912161045771  2022-08-05    3     2   39080
97527  201907090935473  2022-08-03    5     2   11682

[34231 rows x 5 columns]

In [47]:
df_two1 = pd.merge(df_s, df_two, on='고객번호', how='outer')
df_two1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239814 entries, 0 to 239813
Data columns (total 19 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   주문번호    228471 non-null  object
 1   배송완료일   228471 non-null  object
 2   배송시작일   228471 non-null  object
 3   구매일     228471 non-null  object
 4   구매시월령   228471 non-null  float64
 5   고객번호    239814 non-null  object
 6   구매금액    228471 non-null  float64
 7   결제금액    228471 non-null  float64
 8   물품대분류   228471 non-null  object
 9   상품명     228471 non-null  object
 10  포인트     228471 non-null  float64
 11  배송준비시간  228471 non-null  object
 12  배송시간    228471 non-null  object
 13  물품중분류   228471 non-null  object
 14  물품소분류   228471 non-null  object
 15  최근구매일   95011 non-null   object
 16  날짜      95011 non-null   float64
 17  구매횟수    95011 non-null   float64
 18  총결제금액   95011 non-null   float64
dtypes: float64(7), object(12)
memory usage: 36.6+ MB

In [48]:
df_two1

,주문번호,배송완료일,배송시작일,구매일,구매시월령,고객번호,구매금액,결제금액,물품대분류,상품명,포인트,배송준비시간,배송시간,물품중분류,물품소분류,최근구매일,날짜,구매횟수,총결제금액
0,901011864201303,2021-01-05,2021-01-01,2020-12-31,35.0,201901010750089,74560.0,43825.0,팬티,하기스 매직핏팬티 5단계 남아 124매(팬티형),30735.0,1 days,4 days,기저귀,팬티형,NaN,NaN,NaN,NaN
1,901011864430366,2021-01-03,2021-01-01,2020-12-31,9.0,201901010750143,74560.0,43825.0,팬티,하기스 매직핏팬티 3단계 남아 184매(팬티형),30735.0,1 days,2 days,기저귀,팬티형,NaN,NaN,NaN,NaN
2,81231186197954,2021-01-05,2021-01-01,2020-12-31,22.0,201812310749820,53920.0,36769.0,팬티,하기스 네이처메이드 팬티 5단계 여아 80매(팬티형),17151.0,1 days,4 days,기저귀,팬티형,NaN,NaN,NaN,NaN
3,90403223538555,2021-04-06,2021-04-03,2021-04-02,25.0,201812310749820,74560.0,45618.0,팬티,하기스 매직핏팬티 5단계 여아 124매(팬티형),28942.0,1 days,3 days,기저귀,팬티형,NaN,NaN,NaN,NaN
4,90501232847856,2021-05-03,2021-05-01,2021-04-30,26.0,201812310749820,67700.0,45974.0,팬티,하기스 매직팬티 컴포트핏 5단계 여아 120매(팬티형),21726.0,1 days,2 days,기저귀,팬티형,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239809,NaN,NaN,NaN,NaN,NaN,201912171047235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-18,233.0,2.0,29620.0
239810,NaN,NaN,NaN,NaN,NaN,201912171048262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-18,233.0,2.0,9216.0
239811,NaN,NaN,NaN,NaN,NaN,201912171049131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-18,233.0,2.0,22809.0
239812,NaN,NaN,NaN,NaN,NaN,201912171048426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-18,233.0,2.0,7394.0
239813,NaN,NaN,NaN,NaN,NaN,201912181051208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-19,232.0,2.0,22600.0

In [50]:
df_two2 = df_two1[df_two1['물품대분류'] == '더블하트']

In [52]:
df_two2['고객번호'].nunique()

23829