In [1]:
import pandas as pd

In [63]:
df = pd.read_csv('./Sales_data_RMF.csv')

/tmp/ipykernel_5110/354546881.py:1: DtypeWarning: Columns (0,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./Sales_data_RMF.csv')

In [64]:
df.head()

,주문번호,배송완료일,배송시작일,구매일,구매시월령,고객번호,구매금액,결제금액,물품대분류,상품명,포인트,배송준비시간,배송시간,물품중분류,물품소분류
0,901011864201303,2021-01-05,2021-01-01,2020-12-31,35,201901010750089,74560,43825,팬티,하기스 매직핏팬티 5단계 남아 124매(팬티형),30735,1 days,4 days,기저귀,팬티형
1,901011864430366,2021-01-03,2021-01-01,2020-12-31,9,201901010750143,74560,43825,팬티,하기스 매직핏팬티 3단계 남아 184매(팬티형),30735,1 days,2 days,기저귀,팬티형
2,81231186197954,2021-01-05,2021-01-01,2020-12-31,22,201812310749820,53920,36769,팬티,하기스 네이처메이드 팬티 5단계 여아 80매(팬티형),17151,1 days,4 days,기저귀,팬티형
3,812311863500220,2021-01-03,2021-01-01,2020-12-31,8,201812310750007,52160,32408,팬티,하기스 보송보송팬티 4단계 공용 124매(팬티형),19752,1 days,2 days,기저귀,팬티형
4,812311863220192,2021-01-03,2021-01-01,2020-12-31,23,201812310749977,47360,30066,팬티,하기스 에어솔솔 팬티 5단계 남아용 80매(팬티형),17294,1 days,2 days,기저귀,팬티형

In [65]:
df_m = pd.read_csv('./new_member_data.csv')

/tmp/ipykernel_5110/2542198540.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_m = pd.read_csv('./new_member_data.csv')

In [66]:
df_m.head()

              고객번호 성별 결혼유무 거주지역    연령 결제등록카드    유입경로 자녀여부  구매일로부터기간  고객분류
0  201812310749735  여   기혼   인천 37.00   국민은행   인스타그램  Yes       460  이탈고객
1  201812310749770  여   기혼   제주 33.00   국민은행    검색광고  Yes       527  이탈고객
2  201812310749771  여   기혼   부산 32.00   하나은행  네이버블로그  Yes       453  이탈고객
3  201812310749774  여   미혼   경남 34.00   기업은행    지인추천   No       376  이탈고객
4  201812310749780  여   기혼   서울 32.00   신한은행    직접검색  Yes       556  이탈고객

In [67]:
pd.options.display.float_format = '{:.0f}'.format

In [68]:
df['고객번호'] = df['고객번호'].astype('float')
df_m['고객번호'] = df_m['고객번호'].astype('float')

In [69]:
merged_df = pd.merge(df, df_m, on='고객번호', how='left')

In [72]:
merged_df = merged_df[['연령', '물품소분류']]

In [73]:
merged_df = merged_df.dropna()

In [75]:
merged_df.head()

   연령 물품소분류
0  30   팬티형
1  28   팬티형
2  31   팬티형
3  35   팬티형
4  32   팬티형

In [76]:
def categorize_age(age):
    if age <= 22:
        return '20대 초반'
    elif age <= 26:
        return '20대 중반'
    elif age <= 29:
        return '20대 후반'
    elif age <= 32 :
        return '30대 초반'
    elif age <= 36 :
        return '30대 중반'
    elif age <= 39 :
        return '30대 후반'
    elif age <= 42 :
        return '40대 초반'
    elif age <= 46 :
        return '40대 중반'
    else : return '40대 후반 이상'

In [77]:
merged_df['연령대'] = merged_df['연령'].apply(lambda age: categorize_age(age))

In [79]:
merged_df[merged_df['연령대'] == '30대 중반']['물품소분류'].value_counts()

일반형        25113
팬티형        18052
수유용품       13367
화장지/물티슈    10374
생리대         5433
주방용품        4009
욕실용품        2829
스킨케어        2740
위생용품        2697
세탁용품        1359
장난감          610
기타           542
음식           461
의류           237
유아동침구        117
청소용품          77
건강기능식품        44
생활용품           9
Name: 물품소분류, dtype: int64

In [ ]:
merged_df[merged_df['연령대'] == '30대 중반']['물품소분류'].value_counts()

In [46]:
merged_df['연령대'].value_counts()

30대 중반    88070
30대 초반    65530
20대 후반    22255
30대 후반    18281
20대 중반     3079
40대 초반     2251
40대 중반       64
20대 초반       53
Name: 연령대, dtype: int64

In [48]:
new_df = pd.DataFrame(merged_df.groupby('연령대')['구매금액'].sum().sort_values(ascending=False))
new_df

              구매금액
연령대
30대 중반  2726534193
30대 초반  2021256659
20대 후반   685941740
30대 후반   569106815
20대 중반    93258635
40대 초반    71731650
40대 중반     1574640
20대 초반     1402020

In [61]:
percentages = round((new_df['구매금액'] / new_df['구매금액'].sum()) * 100, 1)

In [62]:
percentages

연령대
30대 중반   44.20
30대 초반   32.80
20대 후반   11.10
30대 후반    9.20
20대 중반    1.50
40대 초반    1.20
40대 중반    0.00
20대 초반    0.00
Name: 구매금액, dtype: float64

In [45]:
merged_df.groupby('연령대')['결제금액'].sum().sort_values(ascending=False)

연령대
30대 중반    1949541670
30대 초반    1440972236
20대 후반     488918598
30대 후반     403542272
20대 중반      66804730
40대 초반      50971706
40대 중반       1151584
20대 초반       1031010
Name: 결제금액, dtype: int64